{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1>WEB APP MVP</h1>
                <nav>
                    <a href="/">Home</a>
                    <a href="/about/">About</a>
                    <a href="/services/">Services</a>
                    <a href="/contact/">Contact</a>
                </nav>
                    <section>
        <h2>Welcome to the future of ICT</h2>
        <p>Contact us via the following channels</p>
    </section>
            </div>
            </div>
        </div>
       
        <div class="container">
            <div class="row">
            <div class="col-md-6 col-sm-12">
                 <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Send</button>
                </form>
            </div>
        </div>
        </div>
    </header>
    <footer>
        <p>&copy; 2025 WEB APP MVP</p>
    </footer>
</body>
</html>
{% endblock %}